body {
  margin:0;
  padding:0;
  font-family: Inconsolata;
  background-color: rgba(191, 215, 234);
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin-top: 0px;
}

#header-rect {
  position: relative;
  width: 100%;
  height: 400px;
  background: rgba(50, 108, 154);
  font-size: 0;
  padding-left: 200px;
  padding-top: 150px;
}

#header-triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 550px solid rgba(191, 215, 234);
  border-left: 4250px solid transparent;
  pointer-events: none;
}

#header-text {
  white-space: nowrap;
}

#header-name {
  font-size: 42px;
  margin-bottom: -35px;
}

#header-description {
  font-size: 32px;
}

.icons {
  font-size: 32px;
}

i {
  margin-right: 10px;
}

a:link {
  color: rgba(0,0,0);
  text-decoration: none;
}

a:hover {
  color: rgba(15, 32, 46);
}

a:visited {
  color: rgba(0,0,0);
  text-decoration: none;
}

#content {
  position: relative;
  margin: auto;
  width: 1000px;
  top: 50px;
  padding: 20px;
  line-height: 40px;
  font-weight: 500;
}

.section {
  margin-bottom: 50px;
}

.heading {
  position: relative;
  text-align: center;
  display:inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

.description {
  font-size: 20px;
}

#about {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: none;
  left: 0;
}

#about-header {
  position: relative;
  left: 0px;
  transform: translateX(-200%);
  white-space: nowrap;
  margin-right: 100px;
  margin-top: -0.3em;
}

.underline {
  position: relative;
  width:50%;
  height: 2px;
  background-color:rgba(50, 108, 154);
  margin-top: -20px;
}

#about-description {
  position: relative;
}

#resume {
  color: blue !important;
  text-decoration: underline !important;
}

#projects {
  position: relative;
  margin: auto;

}

.project-table {
  position: relative;
  display: table;
  width: 100%;
}

.project-row {
  font-size: 20px;
  margin-top: 30px;
  background-color: #FFF;
  border-color: black;
  border-style: solid;
}

.project-image {
  position: relative;
  display: table-cell;
  width: 250px;
  height: 250px;
}

#catan {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../media/catan-photo.png");
  background-size: 100%;
}

#tetris {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../media/tetris-photo.png");
  background-size: 288px;
  background-position: center;
}

#voters-choice {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../media/voters-choice-photo.png");
  background-size: 600px;
  background-position: center 5%;
}

.project-content {
  position: relative;
  display: table-cell;
  padding-top: 20px;
  padding-left: 15px;
}

.project-header {
  font-size: 35px;
}

.project-link {
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  color: blue !important;
  text-decoration: underline !important;
}

#github-row {
  margin: auto;

  margin-top: 30px;
  width: 50% !important;
  text-align: center;
}

#github-link {
  color: blue !important;
  text-decoration: underline !important;
}

#contact-icons {
  text-align: center;
  font-size: 30px;
}

footer {
  position: absolute;
  margin-left: 20px;
}
